@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');    

html{
    min-height: 100%;
}

body{
    background-image: linear-gradient(90deg, #78D5E1 0%,#00AEC7 52%,#00778B 100%);
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 3em;} h2{font-size: 2em;} h3{font-size: 1.5em;} h4{font-size: 1em;} h5{font-size: .5em;}

h1,h2,h3,h4,h5{
    padding: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.App__container{
    max-width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
}

label{
    color:white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input{
    margin-bottom: 2em;
}

.alert-error, .alert-send{
    text-align: center;
    background-color: white;
    color: #E10600;
    font-size: 1.3em;
    border-radius: .2em;
    font-weight: 700;
    margin:0;
}

.alert-send{
    color: #2CC84D;
}


.btn-danger{
    background-color: #E10600 !important;
    border-color: #E10600 !important;
}


@media only screen and (max-width:767px){
    .App__container{
        display: block;
    }   
}
